@model VnuaVaccine.Areas.Admin.Models.CreateScheduleViewModel
@{
    ViewBag.Title = "Create";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}
@section sidebar{
    <ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">
        <hr class="sidebar-divider my-0">

        <li class="nav-item active">
            <a class="nav-link" href="/Home/Index">
                <i class="fas fa-fw fa-tachometer-alt"></i>
                <span>Trang chủ</span>
            </a>
        </li>

        <!-- Divider -->
        <hr class="sidebar-divider  my-0">
        <!-- Nav Item - Pages Collapse Menu -->
        <li class="nav-item active">
            <a class="nav-link" href="/Admin/PatientData/Index">
                <i class="fas fa-fw fa-user"></i>
                <span>Danh sách bệnh nhi</span>
            </a>
        </li>
        <hr class="sidebar-divider  my-0">
        <!-- Nav Item - Pages Collapse Menu -->
        <li class="nav-item active">
            <a class="nav-link" href="/Admin/UserData/Index">
                <i class="fas fa-fw fa-user"></i>
                <span>Danh sách tài khoản</span>
            </a>
        </li>
        <hr class="sidebar-divider  my-0">
        <!-- Nav Item - Pages Collapse Menu -->
        <li class="nav-item active">
            <a class="nav-link" href="/Admin/StaffData/Index">
                <i class="fas fa-fw fa-user"></i>
                <span>Danh sách nhân viên</span>
            </a>
        </li>
        <!-- Nav Item - Utilities Collapse Menu -->
        <hr class="sidebar-divider  my-0">
        <!-- Nav Item - Pages Collapse Menu -->
        <li class="nav-item active">
            <a class="nav-link" href="/Admin/VaccineSchedule/Index">
                <i class="fas fa-fw fa-comment"></i>
                <span>Lịch tiêm</span>
            </a>
        </li>
        <!-- Divider -->
        <hr class="sidebar-divider  my-0">
        <!-- Nav Item - Pages Collapse Menu -->
        <li class="nav-item active">
            <a class="nav-link" href="/Admin/VaccineData/Index">
                <i class="fas fa-fw fa-folder"></i>
                <span>Danh sách vaccine</span>
            </a>
        </li>

        <!-- Nav Item - Charts -->
        <hr class="sidebar-divider  my-0">
        <!-- Nav Item - Pages Collapse Menu -->
        <!-- Sidebar Toggler (Sidebar) -->
        <div class="text-center d-none d-md-inline">
            <button class="rounded-circle border-0" id="sidebarToggle"></button>
        </div>

    </ul>
}
@{
    var session = (VnuaVaccine.Common.UserLogin)Session[VnuaVaccine.Common.SessionConstants.USER_SESSION];
    if (session == null || session.RoleId == 1)
    {
        Response.Redirect("~/Home/Index");
    }
}

<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.13/js/select2.min.js">
</script>

@section bodymain{

    <div class="card-body p-0">
        <!-- Nested Row within Card Body -->
        <div class="row">
            @Html.AntiForgeryToken()
            <div class="col-lg-4">
                <div class="panel panel-default">
                    <div class="card shadow mb-4">
                        <div class="p-5">
                            <div class="form-group">
                                <label for="searchName">Tìm kiếm bệnh nhân:</label>
                                <input type="text" id="searchName" onkeyup="Search()" class="form-control" />
                            </div>
                            <div class="form-group">
                                <label for="searchName">Tìm kiếm vắc xin:</label>
                                <input type="text" id="searchNameVaccine" onkeyup="SearchVaccine()" class="form-control" />
                            </div>
                            <button onclick="Checkvaccine()"  type="button" class="btn btn-warning">Kiểm tra</button>                            
                        </div>
                    </div>
                </div>

            </div>
            <div class="col-lg-6">

                <div class="panel panel-default">
                    <div class="card shadow mb-4">

                        <div class="p-5">
                            <div class="card-header py-3">
                                <h2 class="m-0 font-weight-bold text-primary" style="text-align:center;">Thêm lịch tiêm vaccine</h2>
                            </div>

                            @using (Html.BeginForm("CreatePatient", "VaccineSchedule", FormMethod.Post, new { id = "yourFormId" }))
                            {

                                <div class="form-group">
                                    @Html.LabelFor(model => model.SelectedPatientId, "Bệnh nhân")
                                    @Html.DropDownListFor(model => model.SelectedPatientId, Model.PatientList.Take(5), "-- Chọn bệnh nhân --", new { @class = "form-control select2", @id = "patientDropdown" })
                                </div>

                                <div class="form-group">
                                    @Html.LabelFor(model => model.ScheduleModel.IdVaccine, "Vắc-xin")
                                    @Html.DropDownListFor(model => model.ScheduleModel.IdVaccine, Model.VaccineList.Take(10), "-- Chọn vắc-xin --", new { @class = "form-control", @id = "vaccineDropdown" })
                                </div>

                                <div class="form-group">
                                    @Html.LabelFor(model => model.ScheduleModel.Time, "Ngày tiêm")
                                    @Html.TextBoxFor(model => model.ScheduleModel.Time, new { @type = "date", @class = "form-control", @min = DateTime.Now.ToString("yyyy-MM-dd") })
                                </div>

                                <div class="row">
                                    <div class="col-md-2">
                                        <a href="/Admin/VaccineSchedule/Index" class="btn btn-primary btn-user btn-block icon">
                                            Quay lại
                                        </a>
                                    </div>
                                    <div class="col-md-8"></div>
                                    <div class="col-md-2">
                                        <a>
                                            <input style="background-color: #36b9cc" type="submit" value="Thêm" class="btn btn-primary btn-user btn-block" />
                                        </a>
                                    </div>
                                </div>
                            }
                            <hr>

                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
}
<script>
    function Search() {
        var name = $('#searchName').val();
        $.ajax({
            url: '/VaccineSchedule/Search',
            type: 'POST',
            data: { name: name },
            success: function (data) {
                var dropdownList = data;
                var dropdown = $('#patientDropdown');

                dropdown.empty();

                if (dropdownList.length === 0) {
                    dropdown.append($('<option></option>').text('Không có dữ liệu!'));
                } else {
                    $.each(dropdownList, function (index, item) {
                        dropdown.append($('<option></option>').val(item.Value).text(item.Text));
                    });
                }
            },
            error: function () {

            }
        });
    }

</script>

<script>
    function SearchVaccine() {
        var name = $('#searchNameVaccine').val();

        $.ajax({
            url: '/VaccineSchedule/SearchVaccine',
            type: 'POST',
            data: { name: name },
            success: function (data) {
                var dropdownList = data;
                var dropdown = $('#vaccineDropdown');

                dropdown.empty();

                if (dropdownList.length === 0) {
                    dropdown.append($('<option></option>').text('Không có dữ liệu!'));
                } else {
                    $.each(dropdownList, function (index, item) {
                        dropdown.append($('<option></option>').val(item.Value).text(item.Text));
                    });
                }
            },
            error: function () {

            }
        });
    }
</script>

<script>
    function Checkvaccine() {
        var viewModel = {
            SelectedPatientId: $('#patientDropdown').val(),
            ScheduleModel: {
                IdVaccine: $('#vaccineDropdown').val(),
            }
        };
        $.ajax({
            url: '/VaccineSchedule/CheckVaccine',
            type: 'POST',
            data: JSON.stringify({ viewModel: viewModel }),
            contentType: 'application/json',
            success: function (data) {

                if (data.confirmationMessage !== "Người này đã tiêm đủ liều vắc xin!") {

                    alert("Người này chưa tiêm đủ liều vắc xin");
                }
                else {
                    alert(data.confirmationMessage);
                }
            },
            error: function () {

            }
        });
    }
</script>
@section jsFooter{

}
