@model DAL.EF.Vaccine
@{
    ViewBag.Title = "Detail";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section navlink {
    <li class="nav-item">
        <a class="nav-link " href="~/Home/Index" onclick="changeColor(this)">Trang chủ</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="~/Home/About" onclick="changeColor(this)">Về chúng tôi</a>
    </li>
    <li class="nav-item">
        <a class="nav-link active" href="~/ListVaccine/Index" onclick="changeColor(this)">Vaccine</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="#" onclick="changeColor(this)">Tin tức</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="#section-form" onclick="changeColor(this)">Liên hệ</a>
    </li>
    <script>
        function changeColor(link) {

            var links = document.querySelectorAll('.nav-link');
            // Loại bỏ class active
            links.forEach(function (link) {
                link.classList.remove('active');
            });
            // Thêm class active vào phần tử được chọn
            link.classList.add('active');
        }
    </script>
}
@section body{
    <main role="main">
        <a href="/san-pham/@Model.ID"></a>
        <div class="container mt-4">
            <div id="thongbao" class="alert alert-danger d-none face" role="alert">
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
            <div class="card">
                <div class="container-fluid">
                    <form name="frmsanphamchitiet" id="frmsanphamchitiet" method="post"
                          action="/php/twig/frontend/giohang/themvaogiohang">
                        <input type="hidden" name="sp_ma" id="sp_ma" value="@Model.Munafacturer">
                        <input type="hidden" name="sp_ten" id="sp_ten" value="@Model.NameVaccine">
                        <input type="hidden" name="sp_gia" id="sp_gia" value="">
                        <input type="hidden" name="hinhdaidien" id="hinhdaidien" value="samsung-galaxy-tab-10.jpg">
                        <div class="container-fluid">
                            <h3>Thông tin vaccine</h3>
                            <div class="row">
                                <div class="col">

                                </div>
                            </div>
                        </div>
                        <div class="wrapper row">
                            <div class="preview col-md-6">
                                <div class="preview-pic tab-content">
                                    <div class="tab-pane" id="pic-1">
                                        <img src="@Model.Path">
                                    </div>
                                    <ul class="preview-thumbnail nav nav-tabs">
                                        <li class="active">
                                            <a href="#" data-target="#pic-1" data-toggle="tab" class="">
                                                <img src="@Model.Path">
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                                <div class="details col-md-6">
                                    <h3 class="product-title">@Model.NameVaccine</h3>
                                    <div class="rating">
                                        <div class="stars">
                                            <span class="fa fa-star checked"></span>
                                            <span class="fa fa-star checked"></span>
                                            <span class="fa fa-star checked"></span>
                                            <span class="fa fa-star"></span>
                                            <span class="fa fa-star"></span>
                                        </div>
                                        <span class="review-no"></span>
                                    </div>
                                    <p class="product-description">@Model.Description</p>
                                    <h4 class="price">Giá hiện tại: <span></span></h4>
                                    <p class="vote">
                                        <strong>Chứng chỉ IOS</strong>
                                        !
                                    </p>
                                    <div class="form-group">
                                        <label for="soluong">Số lượng đặt mua:</label>
                                        <input type="number" class="form-control" id="soluong" name="soluong">
                                    </div>
                                    <div class="action">
                                        <button type="button" class="btn btn-outline-danger">
                                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-heart" viewBox="0 0 16 16">
                                                <path d="m8 2.748-.717-.737C5.6.281 2.514.878 1.4 3.053c-.523 1.023-.641 2.5.314 4.385.92 1.815 2.834 3.989 6.286 6.357 3.452-2.368 5.365-4.542 6.286-6.357.955-1.886.838-3.362.314-4.385C13.486.878 10.4.28 8.717 2.01L8 2.748zM8 15C-7.333 4.868 3.279-3.04 7.824 1.143c.06.055.119.112.176.171a3.12 3.12 0 0 1 .176-.17C12.72-3.042 23.333 4.867 8 15z"></path>
                                            </svg>
                                            Wishlist
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </main>
}

