@model VnuaVaccine.Areas.Admin.Models.ProfileModel
@{
    ViewBag.Title = "Profile Admin";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}
@section sidebar{
    <ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">
        <hr class="sidebar-divider my-0">

        <li class="nav-item active">
            <a class="nav-link" href="/Home/Index">
                <i class="fas fa-fw fa-tachometer-alt"></i>
                <span>Trang chủ</span>
            </a>
        </li>

        <!-- Divider -->
        <hr class="sidebar-divider  my-0">
        <!-- Nav Item - Pages Collapse Menu -->
        <li class="nav-item active">
            <a class="nav-link" href="/Admin/Wishlist/Index">
                <i class="fas fa-fw fa-folder"></i>
                <span>Lịch sử tiêm của tôi</span>
            </a>
        </li>

        <!-- Nav Item - Charts -->
        <hr class="sidebar-divider  my-0">
        <!-- Nav Item - Pages Collapse Menu -->
        <!-- Sidebar Toggler (Sidebar) -->
        <div class="text-center d-none d-md-inline">
            <button class="rounded-circle border-0" id="sidebarToggle"></button>
        </div>

    </ul>

}
<!-- check role để chuyển hướng user và admin -->

@section bodymain{
    <div class="card-body p-0">
        <!-- Nested Row within Card Body -->
        <div class="row">

            <div class="col-lg-6">
                @if (TempData["EditUserMessage"] != null)
                {
                    <div class="alert alert-success alert-dismissible" role="alert">
                        <button type="button" class="close" style="color:red" data-dismiss="alert" aria-label="Close" aria-hidden="true">
                            <span style="font-size:28px;" aria-hidden="true">&times;</span>
                        </button>
                        <h5><i class="icon fas fa-check"></i> @TempData["EditUserMessage"]</h5>
                    </div>

                }

                @Html.AntiForgeryToken()
                <div class="panel panel-default">
                    <div class="card shadow mb-4">
                        <div class="p-5">
                            <div class="card-header py-3">
                                <h2 class="m-0 font-weight-bold text-primary" style="text-align:center;">Thông tin cá nhân</h2>
                            </div>
                            @using (Html.BeginForm("Index", "HomeUser", FormMethod.Post))
                            {
                                @Html.ValidationSummary(false, "", new { @class = "text-danger" });
                               
                                <div class="form-group">

                                    Họ tên
                                    @Html.TextBoxFor(model => model.Name, new { @class = "form-control form-control-user", @placeholder = "Type your Name" })

                                </div>

                                <div class="form-group">

                                    Địa chỉ
                                    @Html.TextBoxFor(model => model.Address, new { @class = "form-control form-control-user", @placeholder = "Type your Address" })

                                </div>
                                if (Model.Birthday == null)
                                {
                                    <div class="form-group">
                                        Sinh nhật
                                        @Html.TextBoxFor(model => model.Birthday, "{0:dd/MM/yyyy}", new { @type = "date", @class = "form-control form-control-user" })
                                    </div>
                                }
                                else
                                {
                                    <div class="form-group">
                                        Sinh nhật
                                        @Html.TextBoxFor(model => model.Birthday, "{0:dd/MM/yyyy}", new { @type = "datetime", @class = "form-control form-control-user" })
                                    </div>
                                }
                                <div class="form-group">

                                    Số điện thoại
                                    @Html.TextBoxFor(model => model.PhoneNumber, new { @class = "form-control form-control-user", @placeholder = "Type your Phone" })

                                </div>
                                <style>
                                    .Sex:hover {
                                        cursor: pointer;
                                    }
                                </style>
                                <div class="form-group">
                                    <label for="Sex">Giới tính</label>
                                    <select class="form-control Sex" name="Sex">
                                        @if (ViewBag.SexOptions != null)
                                        {
                                            foreach (var option in ViewBag.SexOptions)
                                            {
                                                <option value="@option.Value" @(option.Selected ? "selected" : "")>@option.Text</option>
                                            }
                                        }
                                        else
                                        {
                                            <option value="1"></option>
                                        }
                                    </select>
                                </div>
                                <div class="form-group">
                                    <label class="control-label">Tuổi</label>
                                    <input type="text" class="form-control form-control-user" readonly="readonly" value="@Model.Age" />
                                    @Html.HiddenFor(model => model.Age)
                                </div>
                                <div class="form-group">
                                    <label class="control-label">Email</label>
                                    <input type="text" class="form-control form-control-user" readonly="readonly" value="@Model.Email" />
                                    @Html.HiddenFor(model => model.Email)
                                </div>
                                <div class="form-group">
                                    <label class="control-label">Chức vụ</label>
                                    <input type="text" class="form-control form-control-user" readonly="readonly" value="@(Model.Role == 0 ? "Nhân viên y tế" : "Bệnh nhân") " />
                                    @Html.HiddenFor(model => model.Role)
                                </div>
                                <a>
                                    <input type="submit" value="Cập nhật" class="col-lg-2 btn btn-primary btn-user btn-block" />
                                </a>
                                <hr>
                            }
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
}
