@model VnuaVaccine.Areas.Admin.Models.InforPatientModel
@{
    ViewBag.Title = "Detail";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}
@{
    var session = (VnuaVaccine.Common.UserLogin)Session[VnuaVaccine.Common.SessionConstants.USER_SESSION];
    if (session == null || session.RoleId == 1)
    {
        Response.Redirect("~/Home/Index");
    }
}
@section sidebar{
    <ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">
        <hr class="sidebar-divider my-0">

        <li class="nav-item active">
            <a class="nav-link" href="/Home/Index">
                <i class="fas fa-fw fa-tachometer-alt"></i>
                <span>Trang chủ</span>
            </a>
        </li>

        <!-- Divider -->
        <hr class="sidebar-divider  my-0">
        <!-- Nav Item - Pages Collapse Menu -->
        <li class="nav-item active">
            <a class="nav-link" href="/Admin/PatientData/Index">
                <i class="fas fa-fw fa-user"></i>
                <span>Danh sách bệnh nhi</span>
            </a>
        </li>
        <hr class="sidebar-divider  my-0">
        <!-- Nav Item - Pages Collapse Menu -->
        <li class="nav-item active">
            <a class="nav-link" href="/Admin/UserData/Index">
                <i class="fas fa-fw fa-user"></i>
                <span>Danh sách tài khoản</span>
            </a>
        </li>
        <hr class="sidebar-divider  my-0">
        <!-- Nav Item - Pages Collapse Menu -->
        <li class="nav-item active">
            <a class="nav-link" href="/Admin/StaffData/Index">
                <i class="fas fa-fw fa-user"></i>
                <span>Danh sách nhân viên</span>
            </a>
        </li>
        <!-- Nav Item - Utilities Collapse Menu -->
        <hr class="sidebar-divider  my-0">
        <!-- Nav Item - Pages Collapse Menu -->
        <li class="nav-item active">
            <a class="nav-link" href="/Admin/VaccineSchedule/Index">
                <i class="fas fa-fw fa-comment"></i>
                <span>Lịch tiêm</span>
            </a>
        </li>
        <!-- Divider -->
        <hr class="sidebar-divider  my-0">
        <!-- Nav Item - Pages Collapse Menu -->
        <li class="nav-item active">
            <a class="nav-link" href="/Admin/VaccineData/Index">
                <i class="fas fa-fw fa-folder"></i>
                <span>Danh sách vaccine</span>
            </a>
        </li>

        <!-- Nav Item - Charts -->
        <hr class="sidebar-divider  my-0">
        <!-- Nav Item - Pages Collapse Menu -->
        <!-- Sidebar Toggler (Sidebar) -->
        <div class="text-center d-none d-md-inline">
            <button class="rounded-circle border-0" id="sidebarToggle"></button>
        </div>

    </ul>
}
<h2>Thông tin bệnh nhi</h2>
@Html.AntiForgeryToken()
<div class="col-lg-12">
    <div class="panel panel-default">
        <div class="card shadow mb-4">
            <div class="p-5">

                @using (Html.BeginForm("Detail", "PatientData", FormMethod.Get))
                {
                    <div class="form-row">
                        <div class="form-group col-md-6">
                            <label for="inputEmail4">Tên bệnh nhi</label>
                            <input type="text" class="form-control" readonly="readonly" id="inputEmail4" value="@Model.Name" />
                            @Html.HiddenFor(model => model.Name)
                        </div>
                        <div class="form-group col-md-6">
                            <label for="inputEmail4">Giới tính</label>
                            <input type="text" class="form-control" readonly="readonly" id="inputEmail4" value="@(Model.Sex == 0 ? "Nữ" : "Nam")" />
                            @Html.HiddenFor(model => model.Sex)
                        </div>

                    </div>
                    <div class="form-group">
                        <label for="inputEmail4">Tên cha mẹ bệnh nhi</label>
                        <input type="text" class="form-control" readonly="readonly" id="inputEmail4" value="@Model.NameParent" />
                        @Html.HiddenFor(model => model.NameParent)
                    </div>
                    <div class="form-group">
                        <label for="inputEmail4">Địa chỉ</label>
                        <input type="text" class="form-control" readonly="readonly" id="inputEmail4" value="@Model.Address" />
                        @Html.HiddenFor(model => model.Address)
                    </div>
                    <div class="form-row">
                        <div class="form-group col-md-4">
                            <label for="inputEmail4">Sinh nhật</label>
                            <input type="text" class="form-control" readonly="readonly" id="inputEmail4" value="@Model.Birthday" />
                            @Html.HiddenFor(model => model.Birthday)
                        </div>
                        <div class="form-group col-md-4">
                            <label for="inputEmail4">Số điện thoại</label>
                            <input type="text" class="form-control" readonly="readonly" id="inputEmail4" value="@Model.PhoneNumber" />
                            @Html.HiddenFor(model => model.PhoneNumber)
                        </div>
                        <div class="form-group col-md-2">
                            <label for="inputEmail4">Tuổi (Năm)</label>
                            <input type="text" class="form-control" readonly="readonly" id="inputEmail4" value="@Model.Age" />
                            @Html.HiddenFor(model => model.Age)
                        </div>
                        <div class="form-group col-md-2">
                            <label for="inputEmail4">Tuổi (Tháng)</label>
                            <input type="text" class="form-control" readonly="readonly" id="inputEmail4" value="@Model.AgeMonth" />
                            @Html.HiddenFor(model => model.AgeMonth)
                        </div>

                    </div>
                    <div class="form-row">
                        <div class="form-group col-md-6">
                            <label for="inputEmail4">Ngày tạo lịch</label>
                            <input type="text" class="form-control" readonly="readonly" id="inputEmail4" value="@Model.CreateAt" />
                            @Html.HiddenFor(model => model.Name)
                        </div>
                        <div class="form-group col-md-6">
                            <label for="inputEmail4">Ngày cập nhật</label>
                            <input type="text" class="form-control" readonly="readonly" id="inputEmail4" value="@Model.UpdateAt" />
                            @Html.HiddenFor(model => model.UpdateAt)
                        </div>

                    </div>
                    <div class="form-group">
                        <label for="inputEmail4">Địa chỉ email</label>
                        <input type="text" class="form-control" readonly="readonly" id="inputEmail4" value="@Model.Email" />
                        @Html.HiddenFor(model => model.Email)
                    </div>
                    <div class="form-group">

                    </div>
                }
                <a href="/Admin/PatientData/Index" class="col-md-1 btn btn-primary btn-user btn-block icon">
                    Back
                </a>
                <hr>

            </div>
        </div>
    </div>
</div>
