@model VnuaVaccine.Areas.Admin.Models.PatientModel
@{
    ViewBag.Title = "Edit";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

@section sidebar{
    <ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">
        <hr class="sidebar-divider my-0">

        <li class="nav-item active">
            <a class="nav-link" href="/Home/Index">
                <i class="fas fa-fw fa-tachometer-alt"></i>
                <span>HomePage</span>
            </a>
        </li>

        <!-- Divider -->
        <hr class="sidebar-divider  my-0">
        <!-- Nav Item - Pages Collapse Menu -->
        <li class="nav-item active">
            <a class="nav-link" href="/Admin/PatientData/Index">
                <i class="fas fa-fw fa-user"></i>
                <span>List Patient</span>
            </a>
        </li>
        <hr class="sidebar-divider  my-0">
        <!-- Nav Item - Pages Collapse Menu -->
        <li class="nav-item active">
            <a class="nav-link" href="/Admin/StaffData/Index">
                <i class="fas fa-fw fa-user"></i>
                <span>List Staff</span>
            </a>
        </li>
        <!-- Nav Item - Utilities Collapse Menu -->
        <hr class="sidebar-divider  my-0">
        <!-- Nav Item - Pages Collapse Menu -->
        <li class="nav-item active">
            <a class="nav-link" href="#">
                <i class="fas fa-fw fa-comment"></i>
                <span>List Schedule</span>
            </a>
        </li>
        <!-- Divider -->
        <hr class="sidebar-divider  my-0">
        <!-- Nav Item - Pages Collapse Menu -->
        <li class="nav-item active">
            <a class="nav-link" href="/Admin/VaccineData/Index">
                <i class="fas fa-fw fa-folder"></i>
                <span>List Vaccine</span>
            </a>
        </li>

        <!-- Nav Item - Charts -->
        <hr class="sidebar-divider  my-0">
        <!-- Nav Item - Pages Collapse Menu -->
        <li class="nav-item active">
            <a class="nav-link" href="/Admin/HomeAdmin">
                <i class="fas fa-fw fa-chart-area"></i>
                <span>My Profile</span>
            </a>
        </li>
        <!-- Divider -->
        <hr class="sidebar-divider d-none d-md-block">

        <!-- Sidebar Toggler (Sidebar) -->
        <div class="text-center d-none d-md-inline">
            <button class="rounded-circle border-0" id="sidebarToggle"></button>
        </div>

    </ul>
}
@section bodymain{

    <div class="card-body p-0">
        <!-- Nested Row within Card Body -->
        <div class="row">
            @Html.AntiForgeryToken()
            <div class="col-lg-6">
                <div class="panel panel-default">
                    <div class="card shadow mb-4">
                        <div class="p-5">
                            <div class="card-header py-3">
                                <h2 class="m-0 font-weight-bold text-primary" style="text-align:center;">Update Patient</h2>
                            </div>
                            @using (Html.BeginForm("Edit", "PatientData", FormMethod.Post))
                            {
                                @Html.ValidationSummary(false, "", new { @class = "text-danger" });
                                <div class="form-group">
                                    Name
                                    @Html.TextBoxFor(model => model.Name, new { @class = "form-control form-control-user", @autofocus = "autofocus", @placeholder = "Type Name" })

                                </div>
                                <div class="form-group">
                                    <label for="Sex">Sex</label>
                                    <select class="form-control Sex" name="Sex">
                                        @foreach (var option in ViewBag.SexOptions)
                                        {
                                            <option value="@option.Value" @(option.Selected ? "selected" : "")>@option.Text</option>
                                        }
                                    </select>
                                </div>
                                <div class="form-group">
                                    Address
                                    @Html.TextBoxFor(model => model.Address, new { @class = "form-control form-control-user", @placeholder = "Type Address" })

                                </div>
                                <div class="form-group">
                                    PhoneNumber
                                    @Html.TextBoxFor(model => model.PhoneNumber, new { @class = "form-control form-control-user", @placeholder = "Type PhoneNumber" })

                                </div>
                                if (Model.Birthday == null)
                                {
                                    <div class="form-group">
                                        @Html.LabelFor(model => model.Birthday, new { htmlAttribute = new { @class = "form-control form-control-user" } })
                                        @Html.TextBoxFor(model => model.Birthday, "{0:dd/MM/yyyy}", new { @type = "date", @class = "form-control form-control-user" })
                                    </div>
                                }
                                else
                                {
                                    <div class="form-group">
                                        @Html.LabelFor(model => model.Birthday, new { htmlAttribute = new { @class = "form-control form-control-user" } })
                                        @Html.TextBoxFor(model => model.Birthday, "{0:dd/MM/yyyy}", new { @type = "datetime", @class = "form-control form-control-user" })
                                    </div>
                                }
                                <a>
                                    <input style="background-color: #36b9cc" type="submit" value="Update" class="btn btn-primary btn-user btn-block" />
                                </a>
                            }
                            <hr>
                            <a href="/Admin/PatientData/Index" class="btn btn-primary btn-user btn-block icon">
                                Back to list
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
}



